/*
font-family: 'Open Sans', sans-serif;
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 45px;
    font-style: italic;
    font-weight: 100;
    display: inline-flex;
    position: relative;
    bottom: 35px;
    left: 10px;
}

nav {
    background-color: #6da9ed;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 3px 0;
    display: flex;
    justify-content: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #4c76a5;
}

footer {
    background-color: #ccc;
    padding: 48px 0;
    text-align: center;
    clear: both;
    margin-top: 30px;
}

.holder {
    width: 960px;
    margin: 0 auto;
}

h2 {
    color: #2e64a1;
    font-weight: 400;
}

.columnas {
    display: flex;
}

.bienvenidos {
    width: 75%;
}

.testimonios {
    width: 25%;
}
.bienvenidos p{
    font-size: 22px;
}
.testimonio{
    background-color: #ddd;
    padding: 16px;
}
.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    display: block;
}
.testimonio .autor{
    font-size: 14px;
    display: block;
    margin: 16px 0;
    
}
/*estilos para la seccion nosotros*/
.historia p{
    font-size: 12px;
}
.personas{
    display: flex;
    justify-content: space-between;
}
.persona{
    width: 18%;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    padding: 15px 5px;;
    box-sizing: border-box;
}
.persona img{
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}
.persona h5, h6{
    margin: 0;
    color: #2e64a1;
    font-weight: normal;
}
.persona h5{
    font-size: 16px;
}
.persona h6{
    font-style: italic;
    font-size: 13px;
}
.persona p{
    font-size: 12px;
}
/*fin de nosotros*/
.contacto{
    display: flex; 
    gap: 24px;
}
.contacto div{
    width: 100%;
}

/*como tiene display flex, cada uno es una caja, y de esa caja que use el 100%*/
.datos p{
font-size: 14px;
}
.datos ul li{
    font-size: 13px;
}
.formulario p {
    display: flex;/*block*//*si lo ponemos, queda uno al lado del otro*/
}
.formulario p label{
    min-width: 80px;
    display: flex;
    align-items: center;
}
.formulario p input, .formulario p textarea{
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 6px;
    font-size: 14px;
}
.formulario p textarea{
    resize: none;
    height: 150px;
}
.arriba{
    align-items: start;

}
.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: white;
    width: auto;
    padding: 6px 20px;
    /*margin-left:80px*/
    position: relative;
    left: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}